.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-items {
  display: flex;
  flex-direction: row;
}

.navbar-items li {
  list-style-type: none;
  margin: 0 3px;
}

@media screen and (max-width: 400px) {
  .navbar-items {
    flex-direction: column !important;
  }
  .navbar-items li {
    margin: 3px 0 !important;
  }
}

@media screen and (max-width: 400px) {
  nav .nav-wrapper {
    height: 200% !important;
  }
  nav {
    line-height: 27px !important;
  }
  .block-quote {
    margin-top: 68px !important;
  }
  .profile-container{
    margin-top: 50px !important;
  }
}
